/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/* Navigation Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#destaque, #categorias {
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

.anime, .categoria {
    margin-bottom: 20px;
}

.anime img, .categoria img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.anime h3, .categoria h3 {
    margin-top: 10px;
    text-align: center;
}
